PUBLIC_SUPABASE_URL=https://kwdjukdsejwplxrgmdjb.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3ZGp1a2RzZWp3cGx4cmdtZGpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3ODU0NjMsImV4cCI6MjA5NDM2MTQ2M30.vNNkS8ebIkXAyjj2MIawZT8Sg9LVU2mbUKVpE_sfsvQ
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3ZGp1a2RzZWp3cGx4cmdtZGpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODc4NTQ2MywiZXhwIjoyMDk0MzYxNDYzfQ.w0FvrYATH13qIymBEJufnxOiXaRPRwggbAXHgdLhPnU
